---
import AppLayout from "@layouts/AppLayout.astro";
import BlogCard from "@components/BlogCard.astro";
import Header from "@components/Header.astro";

interface Frontmatter {
  title: string;
  imageAlt: string;
  heroImage: string;
  pubDate: string;
  description: string;
}
let posts = await Astro.glob<Frontmatter>("./blog/*.mdx");
posts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const title = "Blog | Kevin Zuniga Cuellar";
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online.";
---

<AppLayout title={title} description={description}>
  <Header title="Blog" />
  <p class="w-full mb-10 font-normal text-zinc-400 leading-relaxed">
    {description}
  </p>
  <ul class="flex flex-col gap-8 sm:border-l sm:border-zinc-800">
    {
      posts.map((post) => (
        <BlogCard
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
          description={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </ul>
</AppLayout>
