---
import AppLayout from "@layouts/AppLayout.astro";
import BlogCard from "@components/BlogCard.astro";
import Header from "@components/Header.astro";

let allPosts = await Astro.glob("./blog/*.mdx");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const title = "Blog | Kevin Zuniga Cuellar";
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online.";
---

<AppLayout title={title} description={description}>
  <Header title="Blog" />
  <p class="w-full mb-10 font-normal leading-7 text-zinc-400">
    {description}
  </p>
  <section class="flex flex-col gap-12">
    {
      allPosts.map((post) => (
        <BlogCard
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
          description={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </section>
</AppLayout>
