---
import AppLayout from "@layouts/AppLayout.astro";
import Header from "@components/Header.astro";
import BookCard from "@components/BookCard.astro";
import { books } from "@content/books";
---

<AppLayout title="Bookshelf | Kevin Zuniga Cuellar">
  <Header title="Bookshelf" />
  <p class="w-full mb-8 font-normal leading-7 text-zinc-400">
    Reading is one of my favorite things to do. Need book recommendations? You
    are in the right place.
  </p>
  <ul
    class="grid grid-cols-1 justify-items-center gap-8 md:justify-items-start"
  >
    {
      books.map((book) => (
        <BookCard
          title={book.title}
          author={book.author}
          comment={book.comment}
          year={book.year}
          img={book.img}
          loading={book.loading as "lazy" | "eager"}
          reading={book.reading}
        />
      ))
    }
  </ul>
</AppLayout>
