---
import { type CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog"> & {
  minimal?: true;
};

const { data, id, minimal = false } = Astro.props;

const fullDate = data.pubDate.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li
  class="relative group flex flex-col gap-1 p-5 border dark:bg-zinc-800 bg-white dark:border-zinc-700 dark:hover:border-teal-400 hover:border-blue-600"
>
  <time datetime={data.pubDate.toISOString()} class="text-sm">{fullDate} </time>
  <a
    class="before:absolute before:inset-0 dark:text-zinc-300 group-hover:text-blue-600 dark:group-hover:text-teal-400 font-medium"
    href={`/blog/${id}/`}
  >
    {data.title}
  </a>
  <p class="leading-relaxed max-w-prose mt-1">{data.description}</p>
</li>
