---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  url: string;
}

const { title, description, pubDate, url } = Astro.props;
const fullDate = pubDate.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li class="grid grid-cols-1 gap-2 sm:grid-cols-4 dark:text-zinc-400 text-zinc-600">
  <time
    datetime={pubDate.toISOString()}
    class="hidden sm:block text-sm tracking-wide dark:text-zinc-400 text-zinc-600 mt-6 sm:ml-6"
    >{fullDate}
  </time>
  <a
    class="col-span-3 flex flex-col gap-2 sm:gap-4 sm:p-5 dark:sm:hover:bg-zinc-800 sm:hover:bg-zinc-200 transition-colors rounded-lg"
    href={url}
  >
    <time
      datetime={pubDate.toISOString()}
      class="block sm:hidden text-sm tracking-wide dark:text-zinc-400 text-zinc-600"
      >{fullDate}
    </time>
    <h2 class="text-lg font-semibold dark:text-zinc-100 text-zinc-700">
      {title}
    </h2>
    <p class="leading-relaxed max-w-prose">{description}</p>
  </a>
</li>
