---
export interface Props {
  title: string
  description: string
  publishDate: string
  url: string
}
let { title, description, publishDate, url } = Astro.props as Props
publishDate = new Date(publishDate).toLocaleDateString('en', {
  dateStyle: 'full',
})
---

<a
  class="group block leading-relaxed space-y-1 rounded-xl bg-white p-6 text-zinc-600 shadow hover:shadow-md dark:border-t dark:border-zinc-700 dark:bg-zinc-800 dark:text-zinc-400 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 dark:shadow-black/40 transition-shadow duration-300"
  href={url}
>
  <time datetime={publishDate} class="block text-sm text-zinc-600 dark:text-zinc-400"
    >{publishDate}</time
  >
  <h2
    class="text-lg font-semibold text-zinc-900 group-hover:text-transparent group-hover:bg-clip-text group-hover:animate-move-bg group-hover:bg-gradient-to-r group-hover:bg-[length:400%] group-hover:from-indigo-500 group-hover:via-pink-500 group-hover:to-indigo-500 dark:text-zinc-300 group-focus:text-transparent group-focus:bg-clip-text group-focus:animate-move-bg group-focus:bg-gradient-to-r group-focus:bg-[length:400%] group-focus:from-indigo-500 group-focus:via-pink-500 group-focus:to-indigo-500"
  >
    {title}
  </h2>
  <p class="">{description}</p>
</a>
