---
interface Props {
  title: string;
  description: string;
  pubDate: string;
  url: string | undefined;
}
let { title, description, pubDate, url } = Astro.props;
const fullDate = new Date(pubDate).toLocaleDateString("en", {
  dateStyle: "full",
});
---

<li
  class="grid grid-cols-1 gap-2 sm:grid-cols-4 leading-relaxed rounded-xl text-zinc-400"
>
  <time
    datetime={pubDate}
    class="hidden sm:block text-sm tracking-wide text-zinc-400 mt-6"
    >{fullDate}
  </time>
  <a
    class="col-span-3 flex flex-col gap-2 sm:gap-4 sm:p-5 sm:hover:bg-zinc-800 transition-colors rounded-lg"
    href={`${url}/`}
  >
    <time
      datetime={pubDate}
      class="block sm:hidden text-sm tracking-wide text-zinc-400"
      >{fullDate}
    </time>
    <h2 class="text-lg font-semibold text-zinc-100">
      {title}
    </h2>
    <p>{description}</p>
  </a>
</li>
