---
import Badge from "@components/Badge.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  img: string;
  author: string;
  year: number;
  comment: string;
  reading: boolean | undefined;
  loading: "eager" | undefined;
}
const {
  title,
  img,
  author,
  year,
  comment,
  reading = false,
  loading = "lazy",
} = Astro.props;
---

<li class="list-none w-full">
  <article class="sm:flex sm:gap-10">
    <div class="overflow-hidden rounded-lg sm:w-60">
      <Image
        src={img}
        alt={title}
        width={500}
        height={750}
        loading={loading}
        class="w-full"
      />
    </div>
    <div class="w-full pt-6 sm:py-0">
      <h2
        class="mb-1 space-x-2 text-xl font-semibold dark:text-white text-zinc-700"
      >
        {title}
      </h2>
      <div class="mb-2 flex flex-col gap-2 sm:flex-row sm:items-baseline">
        <p class="space-x-0.5 text-sm dark:text-zinc-400 text-zinc-600">
          <span class="dark:text-zinc-300">{author}</span>{" "}
          <span>&middot;</span>
          <span class="pr-0 sm:pr-2">{year}</span>
        </p>
        {reading && <Badge text="reading" color="indigo" />}
      </div>
      <p class="py-1 dark:text-zinc-400 text-zinc-600 leading-relaxed">
        {`"${comment}"`}
      </p>
    </div>
  </article>
</li>
