---
import Navlink from '@components/Navlink.astro'
import ThemeToggle from '@components/ThemeToggle.tsx'
import SocialLink from '@components/SocialLink.astro'

export interface Props {
  title?: string
  description?: string
  heroImage?: string
}

const defaultMeta = {
  title: 'Kevin Zuniga Cuellar',
  description: 'Software engineer, TypeScript enthusiast, and a passionate learner.',
  image: 'https://kevinzunigacuellar.com/assets/banner.png',
}

const { title, description, heroImage } = Astro.props as Props
const image = heroImage ? `https://kevinzunigacuellar.com/assets${heroImage}` : defaultMeta.image
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" class="scroll-smooth" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="title" content={title ?? defaultMeta.title} />
    <meta name="description" content={description ?? defaultMeta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.canonicalURL} />
    <meta property="og:title" content={title ?? defaultMeta.title} />
    <meta property="og:description" content={description ?? defaultMeta.description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.canonicalURL} />
    <meta property="twitter:title" content={title ?? defaultMeta.title} />
    <meta property="twitter:description" content={description ?? defaultMeta.description} />
    <meta property="twitter:image" content={image} />
    <meta name="robots" content="follow, index" />
    <script is:inline>
      partytown = {
        forward: ['dataLayer.push'],
      }
    </script>
    <script is:inline>
      const theme = localStorage.getItem('theme')
      if (
        theme === 'dark' ||
        (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
        window.localStorage.setItem('theme', 'dark')
      } else {
        document.documentElement.classList.remove('dark')
        window.localStorage.setItem('theme', 'light')
      }
    </script>
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-4NT91Q9TEC"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-4NT91Q9TEC')
    </script>
    <title>{title ?? defaultMeta.title}</title>
  </head>
  <body
    class="bg-zinc-100 dark:bg-zinc-900 antialiased selection:bg-teal-300 selection:text-zinc-900 dark:selection:bg-fuchsia-600 dark:selection:text-white transition-colors"
  >
    <main class="px-6 lg:px-0 mt-24 mb-36 mx-auto max-w-3xl">
      <slot />
    </main>
    <header
      class="fixed bottom-6 left-1/2 z-10 w-5/6 max-w-min sm:max-w-none -translate-x-1/2 rounded-3xl border border-zinc-300 bg-white/60 shadow backdrop-blur-md dark:border-zinc-700 dark:bg-zinc-800/60 dark:shadow-black/60 sm:w-auto transition-colors"
    >
      <nav class="flex items-center justify-start gap-3 overflow-x-auto sm:overflow-x-visible p-3">
        <Navlink href="/" text="Home">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
          ></path>
        </Navlink>
        <Navlink href="/blog" text="Blog">
          <path
            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
          ></path>
        </Navlink>
        <!-- <Navlink href="/guestbook" text="Guestbook">
          <path
            fill-rule="evenodd"
            d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z"
            clip-rule="evenodd"></path>
        </Navlink> -->
        <Navlink href="/bookshelf" text="Bookshelf">
          <path
            d="M2 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V4zM8 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H9a1 1 0 01-1-1V4zM15 3a1 1 0 00-1 1v12a1 1 0 001 1h2a1 1 0 001-1V4a1 1 0 00-1-1h-2z"
          ></path>
        </Navlink>
        <hr
          class="h-16 rounded-lg border-2 border-r ml-1 sm:ml-0 border-zinc-200 dark:border-zinc-700 transition-colors"
        />
        <ThemeToggle client:load />
        <SocialLink href="https://github.com/kevinzunigacuellar" text="GitHub">
          <svg
            class="h-auto w-8 group-hover:w-12 group-focus:w-12 transition-all fill-current"
            viewBox="0 0 256 249"
          >
            <path
              d="M127.505 0C57.095 0 0 57.085 0 127.505c0 56.336 36.534 104.13 87.196 120.99 6.372 1.18 8.712-2.766 8.712-6.134 0-3.04-.119-13.085-.173-23.739-35.473 7.713-42.958-15.044-42.958-15.044-5.8-14.738-14.157-18.656-14.157-18.656-11.568-7.914.872-7.752.872-7.752 12.804.9 19.546 13.14 19.546 13.14 11.372 19.493 29.828 13.857 37.104 10.6 1.144-8.242 4.449-13.866 8.095-17.05-28.32-3.225-58.092-14.158-58.092-63.014 0-13.92 4.981-25.295 13.138-34.224-1.324-3.212-5.688-16.18 1.235-33.743 0 0 10.707-3.427 35.073 13.07 10.17-2.826 21.078-4.242 31.914-4.29 10.836.048 21.752 1.464 31.942 4.29 24.337-16.497 35.029-13.07 35.029-13.07 6.94 17.563 2.574 30.531 1.25 33.743 8.175 8.929 13.122 20.303 13.122 34.224 0 48.972-29.828 59.756-58.22 62.912 4.573 3.957 8.648 11.717 8.648 23.612 0 17.06-.148 30.791-.148 34.991 0 3.393 2.295 7.369 8.759 6.117 50.634-16.879 87.122-64.656 87.122-120.973C255.009 57.085 197.922 0 127.505 0"
            ></path>
            <path
              d="M47.755 181.634c-.28.633-1.278.823-2.185.389-.925-.416-1.445-1.28-1.145-1.916.275-.652 1.273-.834 2.196-.396.927.415 1.455 1.287 1.134 1.923m6.272 5.596c-.608.564-1.797.302-2.604-.589-.834-.889-.99-2.077-.373-2.65.627-.563 1.78-.3 2.616.59.834.899.996 2.08.36 2.65m4.304 7.159c-.782.543-2.06.034-2.849-1.1-.781-1.133-.781-2.493.017-3.038.792-.545 2.05-.055 2.85 1.07.78 1.153.78 2.513-.019 3.069m7.277 8.292c-.699.77-2.187.564-3.277-.488-1.114-1.028-1.425-2.487-.724-3.258.707-.772 2.204-.555 3.302.488 1.107 1.026 1.445 2.496.7 3.258m9.403 2.8c-.307.998-1.741 1.452-3.185 1.028-1.442-.437-2.386-1.607-2.095-2.616.3-1.005 1.74-1.478 3.195-1.024 1.44.435 2.386 1.596 2.086 2.612m10.703 1.187c.036 1.052-1.189 1.924-2.705 1.943-1.525.033-2.758-.818-2.774-1.852 0-1.062 1.197-1.926 2.721-1.951 1.516-.03 2.758.815 2.758 1.86m10.514-.403c.182 1.026-.872 2.08-2.377 2.36-1.48.27-2.85-.363-3.039-1.38-.184-1.052.89-2.105 2.367-2.378 1.508-.262 2.857.355 3.049 1.398"
            ></path>
          </svg>
        </SocialLink>
        <SocialLink href="https://www.linkedin.com/in/kevinzunigacuellar/" text="LinkedIn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-auto w-8 group-hover:w-12 mb-0.5 group-focus:w-12 transition-all fill-current"
            viewBox="0 0 24 23"
          >
            <path
              d="M4.98 3.5C4.98 4.881 3.87 6 2.5 6S.02 4.881.02 3.5C.02 2.12 1.13 1 2.5 1s2.48 1.12 2.48 2.5zM5 8H0v16h5V8zm7.982 0H8.014v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0V24H24V13.869c0-7.88-8.922-7.593-11.018-3.714V8z"
            ></path>
          </svg>
        </SocialLink>
      </nav>
    </header>
  </body>
</html>
