---
import Navlink from "@components/Navlink.astro";

interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
  imageAlt?: string;
  pubDate?: string;
}

const defaultMeta = {
  title: "Kevin Zuniga Cuellar",
  description:
    "Software engineer, TypeScript enthusiast, and a passionate learner.",
  image: "banner.png",
  imageAlt: "Photo of the author smiling",
};

const {
  title = defaultMeta.title,
  description = defaultMeta.description,
  heroImage = defaultMeta.image,
  imageAlt = defaultMeta.imageAlt,
  pubDate,
} = Astro.props;

const socialImageURL = new URL(`/static/${heroImage}`, Astro.site);
const canonicalURL = new URL(Astro.url).href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:site_name" content="Kevin Zuniga Cuellar" />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content="@kevinzunigacuel" />
    <meta name="twitter:creator" content="@kevinzunigacuel" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content="Kevin Zuniga Cuellar" />
    {pubDate && <meta property="article:published_time" content={pubDate} />}
  </head>
  <body
    class="bg-zinc-900 antialiased selection:bg-fuchsia-600 selection:text-white py-8"
  >
    <nav
      class="mb-16 mx-auto flex items-center justify-start overflow-x-auto sm:overflow-x-visible px-4 w-5/6 max-w-min rounded-full ring-1 ring-zinc-700/80 bg-zinc-800/60 sm:w-auto"
    >
      <Navlink href="/" text="Home" />
      <Navlink href="/blog/" text="Blog" />
      <Navlink href="/bookshelf/" text="Bookshelf" />
      <Navlink
        href="https://www.linkedin.com/in/kevinzunigacuellar"
        rel="noopener noreferrer"
        target="_blank"
        text="LinkedIn"
      />
      <Navlink
        href="https://github.com/kevinzunigacuellar"
        target="_blank"
        rel="noopener noreferrer"
        text="GitHub"
      />
    </nav>
    <main class="px-6 lg:px-0 mx-auto max-w-3xl">
      <slot />
    </main>
  </body>
</html>
