---
import Layout from "~/layouts/Layout.astro";
import Pagination from "~/components/Pagination.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const { id, data } = Astro.props;

const ogImage = {
  src: `/image/${id}.png`,
  alt: data.title,
};

const fullPubDate = data.pubDate.toLocaleDateString("en", {
  dateStyle: "full",
});

const fullUpdatedDate = data.updatedDate?.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout
  title={data.title}
  description={data.description}
  ogImage={ogImage}
  pubDate={data.updatedDate ?? data.pubDate}
>
  <a
    href="/blog/"
    class="group mb-14 inline-flex items-center gap-2 uppercase hover:text-zinc-900 dark:hover:text-zinc-100"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 12h9"
        class="opacity-0 transition-opacity group-hover:opacity-100"></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M20.75 15.75 17 12m0 0 3.75-3.75"
        class="transition-transform group-hover:-translate-x-1.5"></path>
    </svg>
    <span>Back to blog</span></a
  >
  <header class="mb-8 flex flex-col">
    <time
      datetime={data.pubDate.toISOString()}
      class="mb-4 block text-center uppercase"
    >
      {fullPubDate}
    </time>
    <h1
      class="bg-gradient-to-r from-teal-500 via-blue-500 to-purple-500 bg-clip-text pb-8 text-center text-2xl font-semibold text-transparent sm:text-4xl"
    >
      {data.title}
    </h1>
    <Image
      src={data.hero}
      alt={data.heroAlt}
      loading="eager"
      width={1200}
      height={630}
    />
  </header>
  {
    data.updatedDate && (
      <article class="mb-6 border border-zinc-400 px-4 py-2 text-sm sm:text-base dark:border-zinc-600">
        <span class="font-semibold text-zinc-900 dark:text-zinc-100">
          Last updated:{" "}
        </span>
        {fullUpdatedDate}
      </article>
    )
  }
  <article
    class="prose dark:prose-invert max-w-none text-zinc-500 dark:text-zinc-400"
  >
    <slot />
  </article>
  <Pagination />
</Layout>
