---
import AppLayout from "@layouts/AppLayout.astro";
import Pagination from "@components/Pagination.astro";
import { Picture } from "@astrojs/image/components";
import authorImage from "@images/me.jpeg";
import "@styles/syntaxHighlight.css";
import BlogImage from "@components/BlogImage.astro";
import { author, twitter } from "@data/socials";

interface Props {
  title: string;
  description: string;
  image: {
    src?: string;
    alt?: string;
  };
  pubDate: Date;
  url: string;
}

const { title, description, image, pubDate, url } = Astro.props;

const ogImage = {
  src: `/image/${url}.png`,
  alt: title,
};
---

<AppLayout
  title={title}
  description={description}
  ogImage={ogImage}
  pubDate={pubDate}
>
  <header class="flex flex-col mb-8">
    <time
      datetime={pubDate.toISOString()}
      class="block text-center text-zinc-400 mb-4 text-sm sm:text-base"
    >
      {
        pubDate.toLocaleDateString("en", {
          dateStyle: "full",
        })
      }
    </time>
    <h1
      class="text-2xl sm:text-4xl mb-8 font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-500 to-purple-500"
    >
      {title}
    </h1>
    <div class="inline-flex gap-2 justify-center items-center mb-8">
      <div class="aspect-square rounded-full overflow-hidden">
        <Picture
          src={authorImage}
          alt="Image of the author"
          aspectRatio="1:1"
          widths={[40, 80, 120]}
          loading="eager"
          sizes="40px"
          width={40}
          height={40}
        />
      </div>
      <p class="text-zinc-400 text-sm">
        <span class="block font-semibold">{author}</span>
        <a
          class="text-blue-400 focus:outline-none focus:underline hover:underline focus:font-medium hover:font-medium block"
          href="https://twitter.com/kevinzunigacuel"
          target="_blank"
          rel="noopener noreferrer"
          >{twitter}
        </a>
      </p>
    </div>
    <BlogImage
      src={`/static/${image.src}`}
      alt={image.alt}
      loading="eager"
      aspectRatio={1.91}
    />
  </header>
  <article
    class="prose prose-invert lg:prose-lg prose-code:text-zinc-300 prose-a:text-blue-400 max-w-none hover:prose-a:underline focus:prose-a:underline prose-a:no-underline prose-headings:text-teal-500 prose-img:rounded-lg"
  >
    <slot />
  </article>
  <Pagination />
</AppLayout>
