---
import AppLayout from '@layouts/AppLayout.astro';
const { content } = Astro.props;
const { title, description, author } = content;
const publishDate = new Date(content.publishDate).toLocaleDateString('en', {dateStyle: 'full',});
---

<AppLayout {title} {description}>
  <h1 class="text-4xl sm:leading-tight sm:text-5xl font-sans font-semibold py-8 text-center text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-pink-500">{title}</h1>
  <p class="text-center text-zinc-600">{author} &middot; {publishDate}</p>
  <article class="prose max-w-none prose-a:text-blue-600 prose-a:no-underline dark:prose-invert dark:prose-a:text-indigo-400 prose-headings:text-zinc-700 dark:prose-headings:text-zinc-200">
    <slot/>
  </article>
</AppLayout>
