---
import Layout from "@layouts/Layout.astro";
import Pagination from "@components/Pagination.astro";
import { Image } from "astro:assets";
import authorImage from "../assets/me.jpeg";
import type { CollectionEntry } from "astro:content";
import { author, twitter } from "@data/constants";

type Props = CollectionEntry<"blog">;

const { id, data } = Astro.props;

const ogImage = {
  src: `/image/${id}.png`,
  alt: data.title,
};

const fullPubDate = data.pubDate.toLocaleDateString("en", {
  dateStyle: "full",
});

const fullUpdatedDate = data.updatedDate?.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout
  title={data.title}
  description={data.description}
  ogImage={ogImage}
  pubDate={data.updatedDate ?? data.pubDate}
>
  <a
    href="/blog/"
    class="inline-flex gap-2 mb-8 hover:text-zinc-900 dark:hover:text-zinc-100 text-sm sm:text-base group"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 12h9"
        class="opacity-0 group-hover:opacity-100 transition-opacity"></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M20.75 15.75 17 12m0 0 3.75-3.75"
        class="group-hover:-translate-x-1.5 transition-transform"></path>
    </svg>

    <span>Back to blog</span></a
  >
  <header class="flex flex-col mb-8">
    <time
      datetime={data.pubDate.toISOString()}
      class="block text-center mb-4 text-sm sm:text-base"
    >
      {fullPubDate}
    </time>
    <h1
      class="text-2xl sm:text-4xl pb-8 font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-teal-500 via-blue-500 to-purple-500"
    >
      {data.title}
    </h1>
    <div class="inline-flex gap-2 justify-center items-center mb-8">
      <div class="aspect-square rounded-full overflow-hidden">
        <Image
          src={authorImage}
          alt="The author of this blog smiling"
          loading="eager"
          class="aspect-square w-10"
          width={80}
          height={80}
        />
      </div>
      <p class="dark:text-zinc-400 text-zinc-700 text-sm">
        <span class="block font-semibold">{author}</span>
        <a
          class="dark:text-blue-400 text-blue-600 hover:underline block"
          href="https://twitter.com/kevinzunigacuel"
          target="_blank"
          rel="noopener noreferrer"
          >{twitter}
        </a>
      </p>
    </div>
    <Image
      src={data.hero}
      alt={data.heroAlt}
      loading="eager"
      width={1200}
      height={630}
    />
  </header>
  {
    data.updatedDate && (
      <article class="dark:text-blue-200 text-blue-800 py-2 px-4 mb-6 text-sm sm:text-base border border-blue-500 bg-blue-600/20">
        <span class="font-semibold">Last updated: </span>
        {fullUpdatedDate}
      </article>
    )
  }
  <article
    class="prose max-w-none dark:prose-invert dark:prose-a:text-blue-400 prose-a:text-blue-600"
  >
    <slot />
  </article>
  <Pagination />
</Layout>
