---
import AppLayout from "@layouts/AppLayout.astro";
import { Picture } from "@astrojs/image/components";
import authorImage from "@images/me.jpeg";
import BlogImage from "@components/BlogImage.astro";

const { content } = Astro.props;
let { title, description, heroImage, imageAlt, pubDate } = content;
const fullDate = new Date(pubDate).toLocaleDateString("en", {
  dateStyle: "full",
});
pubDate = pubDate.split("T")[0];
---

<AppLayout
  title={title}
  description={description}
  heroImage={heroImage}
  pubDate={pubDate}
  imageAlt={imageAlt}
>
  <header class="flex flex-col justify-center items-center mb-8">
    <time
      datetime={pubDate}
      class="block text-center text-zinc-400 text-sm mb-3"
    >
      {fullDate}
    </time>
    <h1
      class="text-2xl sm:text-4xl sm:leading-tight font-sans mb-6 font-semibold text-center text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-500 to-purple-500"
    >
      {title}
    </h1>
    <div class="inline-flex gap-2 justify-center items-center mb-6">
      <div class="aspect-square rounded-full overflow-hidden">
        <Picture
          src={authorImage}
          alt="Image of the author"
          aspectRatio="1:1"
          widths={[40, 80, 120]}
          loading="eager"
          sizes="40px"
        />
      </div>
      <p class="text-zinc-400 text-sm">
        <span class="block font-semibold">Kevin Zuniga Cuellar</span>
        <a
          class="text-blue-400 focus:outline-none focus:underline hover:underline focus:font-medium hover:font-medium block"
          href="https://twitter.com/kevinzunigacuel"
          target="_blank"
          rel="noopener noreferrer"
          >@kevinzunigacuel
        </a>
      </p>
    </div>
    <BlogImage src={`/static/${heroImage}`} alt={imageAlt} loading="eager" aspectRatio={1.91} />
  </header>
  <article
    class="prose prose-invert prose-code:text-zinc-300 prose-a:text-blue-400 max-w-none hover:prose-a:underline focus:prose-a:underline prose-a:no-underline prose-headings:text-teal-500 prose-img:rounded-md"
  >
    <slot />
  </article>
</AppLayout>
